*{
    margin: 0;
    padding: 0;
    transition: 1s;
}
body{
    transition: none;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#textbox{
    color: rgba(0, 0, 0, 1);
    width: calc(50vw - 2px);
    height: calc(100vh - 2px);
    border: 1px solid black;
}
#err\&Btn{
    width: calc(100vw - calc(50vw - 2px) - 200px);
    height: 100vh;
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    
}
#errorTextbox{
    width: inherit;
    max-width: calc(100vw - calc(50vw - 2px) - 200px - 13px);
    height: calc(100px - 2px);
    max-height: calc(100px - 2px);
    border: 1px solid #506070;
    padding: 5px;
    color: #f2f2f2;
    background: linear-gradient(gray, lightgray);
    font-weight: bold;
    text-shadow: 0px 0px 5px #ff8493;
    word-break: normal;
    overflow-y: scroll;
}
#optR{
    width: inherit;
    max-width: calc(100vw - calc(50vw - 2px) - 200px - 2px);
    height: calc(100px - 2px);
    max-height: calc(100px - 2px);
    overflow-y: scroll;
    border: 1px solid black;
    display: block;
    background: linear-gradient(45deg, lightblue, lightgreen);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#button{
    width: calc(10vw / 4 - 2px);
    height: calc(10vw / 4 - 2px);
    border-radius: 50%;
    background-color: white;
    border: 1px solid darkgoldenrod;
    cursor: pointer;
}
.customBar::-webkit-scrollbar{
    width: calc(1vw / 3);
    background-color: white;
    border-radius: 10px
}
.customBar::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 50%, 50%;
}

.hideDefault{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer
}

.grid{
    transition: none;
    width: fit-content;
    height: fit-content;
    max-width: calc(550px - 2px);
    min-width: 20vw;
    max-height: calc(110px - 2px);
    min-height: 15vh;
    overflow-y: auto;
    border: 1px solid black;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    align-items: center;
    padding: 5px;
    font-family: monospace;
    font-weight: 700;
    color: black;
}

.grid::-webkit-scrollbar{
    width: 5px;
    height: 3px;
    background-color: lightgray;
}
.grid::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, gray, darkslategray);
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: fit-content;
}

.customCheck{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.checkmark{
    background-color: #9d8d7f;
    position: relative;
    display: flex;
    width: 15px;
    border: 1px solid black;
    height: 15px;
    align-items: center;
    justify-content: center;
    transform: rotate(calc(180deg + 45deg));
    border-radius: 50%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
}

.active{
    background-color: green;
    transform: rotate(45deg);
}

#leafTry{
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
}
.branch { 
    stroke: #dbc4af;
    stroke-width: 1
}

.alive{
    stroke: #42f56c;
}