*{
    margin: 0;
    padding: 0;
    transition: 1s;
}
body{
    transition: none;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#textbox{
    color: rgba(0, 0, 0, 1);
    width: calc(50vw - 2px);
    height: calc(100vh - 2px);
    border: 1px solid black;
}
#err\&Btn{
    width: calc(100vw - calc(50vw - 2px) - 200px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#errorTextbox{
    width: calc(100vw - calc(50vw - 2px) - 200px - 2px);
    max-width: calc(100vw - calc(50vw - 2px) - 200px - 2px);
    height: calc(100px - 2px);
    max-height: calc(100px - 2px);
    border: 1px solid #506070;
    padding: 5px;
    color: #f2f2f2;
    background: linear-gradient(gray, lightgray);
    font-weight: bold;
    text-shadow: 0px 0px 5px #ff8493;
    word-break: normal;
    overflow-y: scroll;
}
#optionsResults{
    width: calc(100vw - calc(50vw - 2px) - 200px);
    max-width: calc(100vw - calc(50vw - 2px) - 200px);
    height: calc(100px - 2px);
    max-height: calc(100px - 2px);
    overflow-y: scroll;
    border: 1px solid black;
    display: block;
    background: linear-gradient(45deg, lightblue, lightgreen);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#optionsList{
    display: flex;
    justify-content: space-evenly;
    width: calc(100vw - calc(50vw - 2px) - 200px);
    max-width: calc(100vw - calc(50vw - 2px) - 200px);
    height: fit-content;
    max-height: fit-content
}
#button{
    width: calc(200px / 4 - 2px);
    height: calc(200px / 4 - 2px);
    border-radius: 50%;
    background-color: white;
    border: 1px solid darkgoldenrod;
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: white;
    border-radius: 10px
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 50%, 50%;
}
.no-marker{
    list-style: none;
    padding: 0;
    margin: 0;
}
